.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 500px;
  background-color: rgba(97, 11, 138, 0.94);
  width: 100%;
  overflow: hidden;
}
.contact-us {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.visit {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.left {
  color: #fff;
  font-family: Sansation;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 50px;
}
.right {
  color: #fff;
  font-family: Sansation;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 50px;
}
.line {
  background-color: #fff;
  height: 2px;
  width: 250px;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  color: #fff;
  font-family: Sansation;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
.credits {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:5px;
}
.icon{
  width: 200px;
  height: 200px;
  background-image: url('/images/gdsc.png');
  background-position: 0;
  background-size: contain;
  background-repeat: no-repeat;
}
.gdsc-icon{
  width: 50px;
  height: 50px;
  background-image: url('/images/gdsc.png');
  background-position: 0;
  background-size: contain;
  background-repeat: no-repeat;
}
.insta{
  display: flex;
  gap:10px;
}
.facebook{
  display: flex;
  gap:10px;
}
.lnkdin{
  display: flex;
  gap:10px;
}
.location{
  display: flex;
  gap:10px;
}
.email{
  display: flex;
  gap:10px;
}
.insta-icon{
  width: 50px;
  height: 50px;
  background-image: url('/images/insta.png');
  background-position: 0;
  background-size: contain;
  background-repeat: no-repeat;

}
.facebook-icon{
  width: 50px;
  height: 50px;
  background-image: url('/images/facebook.png');
  background-position: 0;
  background-size: contain;
  background-repeat: no-repeat;

}
.lnkdin-icon{
  width: 50px;
  height: 50px;
  background-image: url('/images/linkedin.png');
  background-position: 0;
  background-size: contain;
  background-repeat: no-repeat;

}
.email-icon{
  width: 50px;
  height: 50px;
  background-image: url('/images/email.png');
  background-position: 0;
  background-size: contain;
  background-repeat: no-repeat;
}
.location-icon{
  width: 50px;
  height: 50px;
  background-image: url('/images/add.png');
  background-position: 0;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1300px){
  .left{
    font-size: 35px;
  } 
  .right{
    font-size: 35px;
  }
  .center{
    font-size: 35px;
  }
  
} 
@media screen and (max-width: 1100px){
  .left{
    font-size: 30px;
  } 
  .right{
    font-size: 30px;
  }
  .center{
    font-size: 30px;
  }
  
} 
@media screen and (max-width: 1000px){
  .left{
    font-size: 25px;
  } 
  .right{
    font-size: 25px;
  }
  .center{
    font-size: 25px;
  }
  
}
@media screen and (max-width: 950px){
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 800px;
    background-color: rgba(97, 11, 138, 0.94);
    width: 100%;
    align-items: center;
    flex-flow:wrap;
  }
  .left{
    font-size: 25px;
    order:2;
    align-self: flex-start;
  } 
  .right{
    font-size: 25px;
    order: 3;
    align-self: flex-start;
    
  }
  .center{
    font-size: 40px;
    order: 1;
    width: 100%;
    
  }
  
}
@media screen and (max-width: 600px){
  .center{
    font-size: 30px;
  }
  .line{
    width: 200px;
  }
  .left{
    font-size: 20px;
  }
  .right{
    font-size: 20px;
  }
}
@media screen and (max-width: 460px){
  .wrapper{
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
  }
  .center{
    font-size: 20px;
    gap:5px;
    flex-wrap: wrap;
  }
  .left{
    order: 3;
    font-size: 15px;
    margin-left: 10px;
    gap:5px;
    padding-top: 0px;
    margin-top: -100px;

  }
  .right{
    order: 2;
    font-size: 15px;
    margin-right: 10px;
    gap:5px;
    padding-top: 0px;
    align-self: flex-end;
    margin-top: -100px;
  }
  .insta{
    align-self: flex-end;
  }
  .facebook{
    align-self: flex-end;
  }
  .lnkdin{
    align-self: flex-end;
  }
  .insta-icon{
    order: 1;
  }
  .facebook-icon{
    order: 1;
  }
  .lnkdin-icon{
    order: 1;
  }
  
  
}
@media screen and (max-width: 350px){
  .center{
    font-size: 16px;
  }
  
}