.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.wrapper-right{
    background: url('/images/contact.png') no-repeat;
    background-position: 0;
    background-size: contain;
    height: 569px;
    width: 512px;
    
}
